body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.main-header {
    background: #333;
    color: white;
    padding: 15px;
}

.main-header nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.main-header button {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
}

.main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.content {
    padding: 30px;
}

.login-container {
    background: white;
    padding: 25px;
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
}

#error, #regError {
    color: red;
}